<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/my-page.css">
    <title>개인 페이지</title>
</head>
<header class="main-header">
    <div class="logo-and-text">
        <img class="main-logo" src="../static/img/mainLogo.png" alt="메인 로고">
        <p class="header-text">ICT 합격 스터디</p>
    </div>
    <div class="header-contents">
        <div class="header-main" onclick=location.href='main.html'>
            <img class="logo" src="../static/img/home.png" alt="홈 화면 로고">
            <p class="main-text">홈</p>
        </div>
        <div class="header-my" onclick=location.href='my-page.html'>
            <img class="logo" src="../static/img/my.png" alt="마이 페이지 로고">
            <p class="my-text">마이페이지</p>
        </div>

    </div>
</header>
<body>








<script src="../static/js/my-page.js"></script>
</body>
</html>